streamlit==1.40.1
psycopg2-binary==2.9.9
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-ollama==0.2.0
faiss-cpu==1.7.4
sentence-transformers==3.3.0
ollama==0.3.3
python-dotenv==1.0.1
duckdb==0.10.0
trino==0.328.0